<h1>Checkout Items:</h1>


<div class='cart-item' *ngFor="let product of cartItems">
  <span> {{product.name}}</span>
  <span>{{product.price | currency}}</span>
</div>

<div style="padding-bottom: 10px;">
  <a [routerLink]="['../shipping']">Shipping Prices</a>
</div>
<button  class="clearButton"(click)='clearCart()'>Clear Cart</button>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <label for="name">Name:</label>
  <input id="name" type="text" formControlName="name"/>
  <label for="address">Address:</label>
  <input id="address" type="text" formControlName="address">
  <button class="button" type="submit">Purchase</button>
</form>